<html>
<head>
<link href="js/cal-heatmap.css" rel="stylesheet" media="all" />
<style type="text/css">
body, h1, h2, h3{
  margin: 0;
  padding: 0;
  font-size: 15px;
}
h1{
  background-color: #EEE;
  clear: both;
  margin-top: 1em;
  padding: 5px;
  font-size: 1.5em;
}
h2{
  font-size: 1em;
  padding: 5px 0;
}
.block{
  float: left;
  width: 350px;
}
</style>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/lodash.min.js"></script>
<script src="js/d3.v3.min.js"></script>
<script src="js/cal-heatmap.js"></script>
<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="./data.js"></script>
<script type="text/javascript">

angular.module('DiaryLog', [])
.service('DiaryLogService', function(){
  console.log(DiaryLog);
  var data = DiaryLog.data;
  var config = DiaryLog.config;
  var obj = {
    each: function(callback){
      for (var category in data){
        var rows = DiaryLog.data[category];
        _.each(rows, function(row){
          callback(category, row);
        });
      }
    },
    data: function(){
      return data;
    },
    patterns: function(){
      var map = {};
      _.each(config.patterns, function(p){
        map[p.name] = p;
      });
      return map;
    },
    categories: function(){
      var map = {};
      _.each(config.patterns, function(p){
        if (!map[p.category]){
          map[p.category] = [];
        }
        map[p.category].push(p);
      });
      return map;
    }
  }
  return obj;
})
.directive('viz', function(DiaryLogService){
  return {
    controller: function($scope){
      var month = 3;
      $scope.heatmapOptions = {
        start: moment().subtract(month, 'months').toDate(),
        range : month+1,
        domain : "month",
        subDomain : "x_day",
        scale: [20, 40, 60, 80],
        displayScale: false,
        onClick: function(date, count) {
          // console.log(arguments);
        }
      };
      $scope.graphData = DiaryLogService.data();
      $scope.patterns = DiaryLogService.patterns();
      $scope.categories = DiaryLogService.categories();
    }
  }
})
.directive('heatmap', function(){
  var counter = 0;
  return {
    template: '<div id="identity"></div>',
    scope: {
      entries: '=',
      options: '='
    },
    link: function(scope, element, attrs){
      // initialize element
      var identity = 'hm' + (++counter);
      element.find('div').attr('id', identity);

      var options = _.assign(
        {itemSelector: '#' + identity}, 
        scope.options
      );

      var calendar = new CalHeatMap();
      calendar.init(options);

      scope.$watch('entries', function(entries){
        var data = {};
        _.each(entries, function(e){
          var sr = e.start_record;
          var er = e.end_record;
          var key = moment(sr.date).toDate().getTime()/1000|0 + "";
          var value = 0;

          if(sr && er){
            var sd = moment(sr.date).hours(sr.hour).minutes(sr.minute);
            var ed = moment(er.date).hours(er.hour).minutes(er.minute);
            if (sd && ed){
              var s = ed.subtract(sd);
              value = s.hours() * 60 + s.minutes();
            }
          } else if (sr){
            value = 24 * 60;
          }
          data[key] = value;
        });
        var opt = _.assign(options, {
          data: data
        });
        calendar.update(data);
      });
    }
  }
})
;

    </script>
  </head>
  <body ng-app="DiaryLog">
    <viz>
      <section ng-repeat="(cat,patterns) in categories">
        <h1>{{cat}}</h1>
        <div class="block" ng-repeat="pattern in patterns" ng-init="entries = graphData[pattern.name]">
          <h2>{{pattern.name}} {{}}</h2>
          <heatmap entries="entries" options="heatmapOptions"></heatmap>
        </div>
      </section>
    </viz>
  </body>
</html>

